<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand-logo" href="{{ HOME_PATH }}">
            <img src="{{ ASSET_PATH }}/img/logo.png" alt="{{ site.title }}" title="{{ site.title }}"/>
          </a>
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ HOME_PATH }}">
            {{ site.title }}
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% include JB/pages_list %}
            </ul>
          </div><!--/.nav-collapse -->
          <div class="nav pull-right">
            <a href="https://twitter.com/davidsteele" class="twitter-follow-button" data-show-count="false">Follow @davidsteele</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
        </div>
      </div><!--/.navbar-inner-->
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well">
            <ul class="nav nav-pills nav-stacked">
              <li class="nav-header">Essays</li>
              {% assign pages_list = site.pages %}
              {% assign group = 'essays' %}
              {% include JB/pages_list %}
            </ul>
          </div><!--/.well -->
          
          <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
          <script>
          new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 4,
            interval: 30000,
            width: 'auto',
            height: 200,
            theme: {
              shell: {
                background: '#fff',
                color: '#78b'
              },
              tweets: {
                background: '#fff',
                color: '#555',
                links: '#78b'
              }
            },
            features: {
              scrollbar: true,
              loop: false,
              live: true,
              behavior: 'all'
            }
          }).render().setUser('davidsteele').start();
          </script>          
        </div><!--/span-->
        
        <div class="span10">
          <div class="content">
            {{ content }}
          </div>
        </div><!--/span-->
      </div><!-- /row -->
    </div> <!-- /container -->

    
    <hr/>
    <footer>
      <p>&copy; 2012 - david steele</p>
    </footer>
    
    {% include JB/analytics %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
    <script src="{{ ASSET_PATH }}/js/bootstrap.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-dropdown.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-transition.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-alert.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-modal.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-dropdown.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-scrollspy.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-tab.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-tooltip.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-popover.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-button.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-collapse.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-carousel.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-typeahead.js"></script>
  </body>
</html>
